img {
  place-self: center;
}
.card {
  box-sizing: border-box;
}
.size {
  width: 300px;
  height: 500px;
  margin-bottom: 30px;
}

span {
  display: flex;
  button {
    width: 20%;
    height: 20%px;
    margin: 0 5px;
    border-radius: 10px;
  }
}
