.img-size {
  border-radius: 100px !important;
  width: 180px !important;
  height: 260px !important;
  place-self: center;
}
.card {
  width: 300px !important;
  height: 400px !important;
  box-sizing: border-box;
}
